<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.numad21fa.vital">

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/brand"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.Vital">
    <activity
      android:exported="true"
      android:name=".webservice.ReviewAdapter"
      tools:ignore="Instantiatable" />
    <activity
      android:exported="true"
      android:name=".webservice.DialogueActivity" />
    <activity
      android:exported="true"
      android:name=".webservice.ReviewHolder"
      tools:ignore="Instantiatable" />
    <activity
      android:exported="true"
      android:name=".webservice.ItemCard"
      tools:ignore="Instantiatable" />
    <activity
      android:exported="true"
      android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:exported="true"
      android:name=".LoginActivity" />
    <activity
      android:exported="true"
      android:name=".RegisterActivity" />
    <activity
      android:exported="true"
      android:name=".webservice.FDCWebServiceActivity" />
    <activity
      android:exported="true"
      android:name=".ShakyActivity" />
  </application>

  <uses-permission android:name="android.permission.INTERNET" />

</manifest>